/***************************
Add your custom styles below
****************************/

/* .custom-background {
	padding-top: 10%;
} */

#front-banner .banner-title {
  color: #000 !important;
  font-weight: 700;
  /*text-shadow: 3px 3px 0 #ecc14a;*/
}

#rotate-text {
  color: #ecc14a;
}

@media all and (min-width: 767px) {
  #front-banner .banner-title {
    font-size: 60px;
  }
}

#ethos-section {
  padding-top: 8.125em;
  background-color: rgb(68, 94, 184);
}

#ethos-section .text-section {
  padding: 2em !important;
  background-color: #fff;
  top: 20px;
  box-shadow: 6px 6px 0 0 rgba(0,0,0,.15)
}

#feature-icons-home {
  padding-bottom: 0em !important;
}

.powered-public {
  opacity: .3 !important;
}

.background-image-holder {
/*  opacity: 1 !important;
*/}

.sliding-img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.mb-none {
    margin-bottom: 0;
    padding-bottom: 0;
}

h6.feature-header {
    font-size: 0.8em;
}

#subForm {
    margin-top: 20px;
}

.sub-form-button {
    width: 100%;
}

::-webkit-input-placeholder {
    font-style: normal;
}

#product-header {
    margin-bottom: 70px;
}

#product-screenshot {
    width: 100%;
    margin-bottom: 0;
}

.feature-header.shift-header-down {
    margin-top: 20px !important;
}


.main-header.scrolled {
  background-color: #ffffff;
  border-bottom: 1px solid #ebebeb;
}


.hero-parallax {
  opacity: .3;
}

#footer-logo {
  margin-bottom: 0;
  max-height: 26px;
}

#footer-social-icons {
  margin-left: auto;
}

.d-flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.center-items {
  align-items: center;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.custom-footer {
  padding: 2em 0;
}


#product-title {
  margin-top: 20px;
}

#product-subtitle {
  margin-top: 40px;
}


.selectric .label {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  color: #ecc14a !important;
  text-transform: none;
  top: 0;
  right: 0;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 2em;
}

.selectric {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #ecc14a;
  width: 300px;
}

.selectric-wrapper {
  margin-top: 5px;
}


.i-am-a-container {
  width: 70vw;
}

#i-am-a {
  margin-left: auto;
  margin-right: auto;
}

.i-am-a-text {
  margin-bottom: 0;
  margin-right: 10px;
}

#i-am-a-subtext {
  margin-top: 25px;
}

.selectric .button {
  background-color: transparent;
}


* {
  margin: 0px;
  padding: 0px;
}

.layer {
  height: 80px;
  width: 160px;
  opacity: 0.7;
  transform-style: preserve-3d;
  /* transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); */
  /* transform: rotateX(20deg) rotateY(20deg) rotateZ(45deg); */
  /* transform: rotate3d(1, 1, 0.1, 0deg); */
  transform: skew(-20deg, 15deg) rotateX(20deg);
  position: absolute;
  transition: top 300ms ease-in;
}

.layer-0 {
  background-color: orange;
  opacity: 1;
}

.pos-0 {
  top: 0px;
}

.pos-1 {
  top: 30px; 
}

.layer-1 {
  background-color: purple;
}

.pos-2 {
  top: 60px;
}

.layer-2 {
  background-color: red;
}

.pos-3 {
  top: 90px;
}

.layer-3 {
  background-color: blue;
}


.layers {
  margin-left: 30px;
  perspective: 100px;
  perspective-origin: 50% 50px;
  margin-top: 15px;
}

.texts {
  position: absolute;
  left: 200px;
  margin-top: 20px;
}

.layers:hover .pos-1, 
.layers:hover .pos-2,
.layers:hover .pos-3 {
  top: 0px;
}

.layers .texts {
  transition: top 300ms ease-in, opacity 150ms ease-in;
}

.layers:hover .texts {
  opacity: 0;
}
