/* General */
* {
  margin: 0px;
  padding: 0px;
}

::-webkit-input-placeholder {
    font-style: normal;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.d-flex {
  display: flex;
}

.center-items {
  align-items: center;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

/* Hero intro */
#front-banner .banner-title {
  color: #000 !important;
  font-weight: 700;
  /*text-shadow: 3px 3px 0 #ecc14a;*/
}

#rotate-text {
  color: #ecc14a;
}

@media all and (min-width: 767px) {
  #front-banner .banner-title {
    font-size: 60px;
  }
}

.background-image-holder {
  opacity: 1 !important; 
}

.hero-parallax {
  opacity: .3;
}

/* Data section */
.layer {
  height: 80px;
  width: 160px;
  opacity: 0.7;
  transform-style: preserve-3d;
  /* transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); */
  /* transform: rotateX(20deg) rotateY(20deg) rotateZ(45deg); */
  /* transform: rotate3d(1, 1, 0.1, 0deg); */
  transform: skew(-20deg, 15deg) rotateX(20deg);
  position: absolute;
  transition: top 300ms ease-in;
}

.layer-0 {
  background-color: orange;
  opacity: 1;
}

.pos-0 {
  top: 0px;
}

.pos-1 {
  top: 30px; 
}

.layer-1 {
  background-color: purple;
}

.pos-2 {
  top: 60px;
}

.layer-2 {
  background-color: red;
}

.pos-3 {
  top: 90px;
}

.layer-3 {
  background-color: blue;
}


.layers {
  margin-left: 30px;
  perspective: 100px;
  perspective-origin: 50% 50px;
  margin-top: 15px;
}

.texts {
  position: absolute;
  left: 200px;
  margin-top: 20px;
}

.layers:hover .pos-1, 
.layers:hover .pos-2,
.layers:hover .pos-3 {
  top: 0px;
}

.layers .texts {
  transition: top 300ms ease-in, opacity 150ms ease-in;
}

.layers:hover .texts {
  opacity: 0;
}

/* Partner bar */
.sliding-img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

/* Product section */
#product-screenshot {
    width: 100%;
    margin-bottom: 0;
}

#product-title {
  margin-top: 20px;
}

#product-subtitle {
  margin-top: 40px;
}

/* I am a... section */
.selectric .label {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  color: #ecc14a !important;
  text-transform: none;
  top: -1px;
  left: 0px;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 2em;
  overflow-y: visible;
  padding: 0px;
  margin-right: 0px;
}

.selectric .label:hover {
  color: #d4ad42 !important;
}

.selectric .label:active {
  color: #bc9a3b !important;
}

.selectric {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #fff;
  width: 205px;
}

.selectric:hover {
  border-bottom: 3px solid #fff;
}

.selectric-wrapper {
  margin-top: 5px;
}


.i-am-a-container {
  width: 70vw;
}

#i-am-a {
  margin-left: auto;
  margin-right: auto;
}

.i-am-a-text {
  margin-bottom: 0;
  margin-right: 10px;
}

#i-am-a-subtext {
  margin-top: 25px;
}

.selectric .button {
  background-color: transparent;
  right: -10px;
}

/* Footer */
#footer-logo {
  margin-bottom: 0;
  max-height: 26px;
}

#footer-social-icons {
  margin-left: auto;
}

.custom-footer {
  padding: 2em 0;
}


/* About page */
.letter-container {
  background-color: #fefefe;
  border-radius: 2px;
  border: 1px solid #ebebeb;
  padding: 40px;
  max-width: 800px;
  text-align: justify;
}


/* Press page */
.card__date {
  text-transform: uppercase;
  font-family: 'Montserrat';
  letter-spacing: 2px;
}