@import url("https://fonts.googleapis.com/css?family=Poppins:300,300italic,400,400italic,600,900");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300italic,400,400italic,600,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,900");

#landing-page {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#landing-title {
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

/* bottom more to come soon footer */

.content-section {
  padding: 30px 0;
}

#find-out-more-section {
  background-color: #FFB221;
}

.container {
  pointer-events: none;
  z-index: 1;
}

.content-title-text {
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2em;
  color: rgb(60, 60, 60);
  margin-bottom: 0;
}

#find-out-container {
  padding: 20px 10vw;
}

.find-out-more-row {
  margin-top: 30px;
  width: 100%;
  align-items: flex-start;
}

#find-out-more-section a {
  color: #2e2e2e;
}

#find-out-more-section a:hover {
  color: #000000;
  text-decoration: none !important;
}

.beginning-icon {
  font-size: 5rem;
  margin-right: 30px;
  color: #1e1e1e;
}

#top-left-image {
  width: 100%;
}

.content-title-summary {
  margin-bottom: 40px;
  font-family: "Open Sans";
  font-size: 1.171875rem;
  font-weight: 300;
}