@import url("https://fonts.googleapis.com/css?family=Poppins:300,300italic,400,400italic,600,900");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300italic,400,400italic,600,900");

.beta-section {
  background-color: #e8f5f7; /* #FFB221 */
  color: #fafafa;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  line-height: 20px;
  padding: 5px 0;
  height: 30px;
}

.sign-up-row {
  justify-content: center;
  align-items: center;
}

.sign-up-tagline {
  margin: 0;
  font-size: 0.6em;
  vertical-align: baseline;
  color: black;
}

#top {
  color: #666;
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 16pt;
  font-weight: 300;
  line-height: 1.65em;
}

/* Navbar */
.main-header.scrolled {
  background-color: #ffffff;
  border-bottom: 1px solid #ebebeb;
}

#top {
  position: sticky;
  top: 0;
  opacity: 1;
  z-index: 5;
}

#top .main-header {
  /*background: #ebebeb;*/
  width: 100%;
  /*box-shadow: 0 5px 3px 0 rgba(0,0,0,.2);*/
  position: relative;
  transition: background-color .3s ease-in-out;
  padding: 15px 0;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#top .logo-header {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0 auto;
  transform: translate(-50%,-50%);
}

.logo-image {
  width: 150px;
  margin-bottom: 0px !important;
}

#top .primary {
  display: inline-block;
}

#top #primary-navigation {
  margin: 0 0 0 17px;
  display: flex;
  flex-direction: row;
}

#top li {
  list-style-type: none;
  display: inline;
}

#top #primary-navigation a {
  text-decoration: none !important;
}

.menu-item {
  font-size: 14px;
  font-weight: 600;
  padding: 12px !important;
}

.menu-item a:hover {
  color: #ffb221;
}

#top .control {
  margin-left: auto;
  margin-right: 10px;
  position: relative;
}

.dropdown-container {
  overflow: hidden;
}

.dropdown-button {
  font-size: inherit; 
  border: none;
  outline: none;
  color: #000;
  cursor: pointer;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-button i {
  font-size: 15px;
  font-weight: 900;
  margin-left: 3px;
}

.dropdown-button img {
  width: 10px;
  margin-left: 3px;
  margin-top: 20px;
}

.dropdown-button:hover img {
  fill: #ffb221;
  color: #ffb221;
  stroke: #ffb221;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 180px;
  padding-bottom: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 5px .5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content a {
  color: black; 
  padding: 0px 20px;
  height: 35px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-container:hover .dropdown-content {
  display: block;
}

nav.secondary {
  bottom: auto;
  width: auto;
  position: relative;
  display: block;
  transition: .45s;
}

nav.secondary ul {
  /*box-shadow: 5px 5px 0 rgba(0,0,0,.2);*/
  line-height: 59px;
  height: 59px;
}

nav.secondary ul li {
  padding-right: 1.5em;
  height: 100%;
}

nav.secondary ul li a {
  color: #000;
  text-decoration: none !important;
  text-transform: uppercase;
  line-height: 59px;
}

nav.secondary.menu-button-secondary {
  background: #000;
}

.menu > li.menu-item a {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 15px;
}

#top ul li.menu-item a.active-item {
  color: #ffb221;
  border-bottom: 3px solid #ffb221;
}
