@charset "UTF-8";

@font-face {
  font-family: "socicon";
  src: url("../fonts/socicon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "socicon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="socicon-"]:before,
[class*=" socicon-"]:before {
  font-family: "socicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.socicon-mail:before {
  content: "\e01f";
}
.socicon-github:before {
  content: "\e030";
}
.socicon-twitter:before {
  content: "\e040";
}
.socicon-facebook:before {
  content: "\e041";
}
.socicon-linkedin:before {
  content: "\e049";
}
.socicon-youtube:before {
  content: "\e051";
}
.socicon-instagram:before {
  content: "\e057";
}
.socicon-google:before {
  content: "\e067";
}
.socicon-medium:before {
  content: "\e06d";
}
